@tailwind base;
@tailwind components;
@tailwind utilities;

/* Cores principais do Divino Encanto */
:root {
  --rosa-claro: #f8e1e7;
  --dourado-rose: #b76e79;
  --marsala: #6c2e33;
}
body {
  background-color: white;
}